.sidebarDog {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.sidebarDog:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
}

.sidebarDogImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;

  border: 1px double rgb(209, 209, 209);
}

.linkClass {
  color: black;
  text-decoration: none;
  align-items: center;
  display: flex;
}
