.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  position: relative;
}

.searchResults {
  position: absolute;
  border: 1px solid black;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searchResult {
  padding: 5px 30px;
  font-size: larger;
  font-weight: 300;
  height: 50px;
  align-items: center;

  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.searchResultImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.searchResult:hover {
  background-color: rgb(97, 216, 255);
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  /* width: 70px; */
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: teal;
  cursor: pointer;
  color: white;

  display: flex;
  align-items: center;
  padding: 20px;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}
