.elementWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid gray;
  flex: 3;
  min-width: 300px;
  max-width: 350px;
}

.imageSection {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  height: 100%; /* Occupy the full height of the elementWrapper */

  align-items: center;
}

.descriptionSection {
  padding: 20px;
  flex-grow: 1; /* Allow this section to grow and occupy available space */
}

.titleSection {
  font-size: xx-large;
  font-weight: 800;
  color: rgb(182, 182, 182);
  display: inline;
}
.eventDate {
  font-size: smaller;
  font-weight: 400;
  display: inline;
  margin-left: 20px;
}

.interestedButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  margin-bottom: 10px;
  background-color: white;
  color: #1877f2;
  border: 1px solid #1877f2;
  border-radius: 10px;
  padding: 5px;
}

.interestedText {
  font-size: large;
  font-weight: 300;
  align-items: center;
  justify-content: center;
}

.starButton {
  margin-right: 10px;
}

.interestedButton:hover {
  cursor: pointer;
  background-color: #e1ecfc;
}
